@media all and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    main img,
    main article {
        max-width: 70%;
    }
    main article {
        padding: 5px;
    }
    main img, main article {
        margin-bottom: 1rem;
    }
}